/*
Theme Name: onetone
Theme URI: http://www.mageewp.com/onetone-theme.html
Description: Onetone is a one-page responsive business theme based on HTML5/CSS3. All required information are displayed on a single page with clear order according to users’ preferences. The basic sections designed for business purpose have already been built for you. There’s also an extensive admin panel where unlimited sections can be easily added. Multiple options are available if you prefer to do some adjustments,such as changing background, parallax scrolling background, video background, Font Awesome Icons, uploading logo and favicon,adding custom CSS and so on.
Version: 1.4.2
Author: MageeWP
Author URI: http://www.mageewp.com
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, dark,light,gray, responsive-layout, custom-background, custom-header, custom-menu, theme-options, left-sidebar, translation-ready, editor-style, featured-images, full-width-template

OneTone Wordpress Theme has been created by mageewp.com, Copyright 2014 WordPress.org.
OneTone Wordpress theme is released under the terms of GNU GPL.
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,div {
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
audio,canvas,video {
	display:inline-block;
	max-width:100%;
}
html {
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body,button,input,select,textarea {
	color:#777;
	font-family:Calibri,sans-serif;
	font-size:14px;
	line-height:1.6;
}
body {
	background:#fff;
}
a {
	text-decoration:none;
}
a:focus {
	/*outline:thin dotted;
	*/
}
a:hover,a:active {
	outline:0;
}

h1,h2,h3,h4,h5,h6 {
	clear:both;
	font-weight:700;
	margin:36px 0 12px;
}
h1 {
	font-size:24px;
	line-height:1;
}
h2 {
	font-size:22px;
	line-height:1;
}
h3 {
	font-size:20px;
	line-height:1;
}
h4 {
	font-size:18px;
	line-height:1;
}
h5 {
	font-size:16px;
	line-height:1;
}
h6 {
	font-size:14px;
	line-height:1.5;
}
address {
	font-style:italic;
	margin-bottom:24px;
}
abbr[title] {
	border-bottom:1px dotted #2b2b2b;
	cursor:help;
}
b,strong {
	font-weight:700;
}
cite,dfn,em,i {
	font-style:italic;
}
mark,ins {
	background:#c96;
	text-decoration:none;
}
p {
	margin-bottom:24px;
}
code,kbd,tt,var,samp,pre {
	font-family:monospace,serif;
	font-size:14px;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	line-height:1.6;
}
pre {
	border:1px solid rgba(0,0,0,0.1);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-bottom:24px;
	max-width:100%;
	overflow:auto;
	padding:12px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
blockquote,q {
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:"";
	content:none;
}
blockquote {
	color:#767676;
	font-size:19px;
	font-style:italic;
	font-weight:300;
	line-height:1.2631578947;
	/*margin-bottom:24px;
	*/
}
blockquote cite,blockquote small {
	color:#2b2b2b;
	font-size:16px;
	font-weight:400;
	line-height:1.5;
}
blockquote em,blockquote i,blockquote cite {
	font-style:normal;
}
blockquote strong,blockquote b {
	font-weight:400;
}
small {
	font-size:smaller;
}
big {
	font-size:125%;
}
sup,sub {
	font-size:75%;
	height:0;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	bottom:1ex;
}
sub {
	top:.5ex;
}
dl {
	margin-bottom:24px;
}
dt {
	font-weight:bold;
}
dd {
	margin-bottom:24px;
}
ul,ol {
	list-style:none;
	margin:0 0 0 20px;
}
ul {
	list-style:disc;
}
ol {
	list-style:decimal;
}
li > ul,li > ol {
	margin:0 0 0 20px;
}
img {
	-ms-interpolation-mode:bicubic;
	border:0;
	vertical-align:middle;
	max-width:100%;
	height:auto;
}
.wp-caption img {
	height:auto;
}
figure {
	margin:0;
}
fieldset {
	border:1px solid rgba(0,0,0,0.1);
	margin:0 0 24px;
	padding:11px 12px 0;
}
legend {
	white-space:normal;
}
button,input,select,textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:100%;
	margin:0;
	max-width:100%;
	vertical-align:baseline;
}
button,input {
	line-height:normal;
}
input,textarea {
	background-image:-webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0));
	/* Removing the inner shadow,rounded corners on iOS inputs */
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}
button[disabled],input[disabled] {
	cursor:default;
}
input[type="checkbox"],input[type="radio"] {
	padding:0;
}
input[type="search"] {
	-webkit-appearance:textfield;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0;
}
textarea {
	overflow:auto;
	vertical-align:top;
}
table,th,td {
	border:1px solid rgba(0,0,0,0.1);
	padding:4px;
}
table {
	border-collapse:separate;
	border-spacing:0;
	border-width:1px 0 0 1px;
	margin-bottom:24px;
	width:100%;
}
caption,th,td {
	font-weight:normal;
	text-align:left;
}
th {
	border-width:0 1px 1px 0;
	font-weight:bold;
}
td {
	border-width:0 1px 1px 0;
}
del {
	color:#767676;
}
hr {
	background-color:rgba(0,0,0,0.1);
	border:0;
	height:1px;
	margin-bottom:23px;
}
thead th {
	border-top:0;
}
.alignleft {
	text-align:left;
	float:left;
	margin-right:10px;
}
.alignright {
	text-align:right;
	float:right;
	margin-left:10px;
}
.aligncenter {
	text-align:center;
}
::selection {
	background:#c96;
	color:#fff;
	text-shadow:none;
}
::-moz-selection {
	background:#c96;
	color:#fff;
	text-shadow:none;
}
:hover {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.required {
	color:#F00;
}
.clear {
	clear:both;
}
/** * 2.0 structure * Pattens from http://subtlepatterns.com/ * */
.site {
	width:100%;
	b	overflow:hidden;
	position:relative;
}
.site-main {
	background:url(images/sidebarbg.jpg) fixed left top;
	margin-left:180px;
	width:940px;
	box-sizing:border-box;
	overflow:hidden;
}
.main-content {
	float:right;
	width:720px;
	padding:40px 50px 100px 50px;
	background-color:#fff;
	overflow:hidden;
	box-sizing:border-box;
	min-height:940px;
}
.content-area .site-content {
	padding-top:20px;
}
.sidebar {
	width:220px;
	padding:12px 12px 120px 12px;
	overflow:hidden;
	box-sizing:border-box;
}
/* * 2.1 header */
.site-header {
	min-height:80px;
	position:absolute;
	top:10px;
	left:0;
	width:100%;
	z-index:2;
	
}
.site-logo {
	height:60px;
	float:left;
	margin-top:20px;
	margin-left:210px;
}
.site-name {
	font-size:24px;
}
.site-logo h1 {
	font-family:'Yanone Kaffeesatz',sans-serif;
	text-transform:uppercase;
	font-size:46px;
	font-weight:none;
	/*display:none;*/
	margin:0;
}
.site-logo a {
	color:#999;
}

.site-logo img {
	display:inline;
}
.site-navbar {
	float:right;
	margin-top:20px;
	margin-right:20px;
	width:50px;
	height:34px;
	display:none;
	background:url(images/navbar.png) no-repeat;
}
.site-navigation {
	float: right;
	margin-top: 10px;
	margin-right: 50px;
	max-width: 800px;
}
.site-navigation a {
	color:#999;
}

.site-navigation > ul {
	display:inline-block;
}
.site-navigation li {
	float:left;
	list-style-type:none;
	position:relative;
	margin-right:15px;
}
.site-navigation a {
	display:block;
	padding:0 5px;
	text-decoration:none;
	/*background-color:#fff;
	*/
}
.site-navigation a:hover {
	}.site-navigation li > ul {
	display:none;
	width:120px;
	position:absolute;
	top:100%;
}
.site-navigation li:hover > ul {
	display:block;
}
.site-navigation li li ul {
	position:absolute;
	left:100%;
	top:0;
}
#responsive_current_menu_item {
	display:none;
}
.top-nav .sub-menu,.top-nav .children {
	display:none;
	position:absolute;
	z-index: 9999;
	background:#ddd;
}
.top-nav  ul ul {
	margin:0;
}
.top-nav .sub-menu li a,.top-nav .children li a {
	line-height:20px;
}
.home-navigation > ul > li > a > span {
color: #DDD;
}
/* * 2.2 sidebar */
.screen-reader-text {
	display:none;
}
.widget-area {
	margin-top:100px;
	width:auto;
}
.widget-search {
	width:100%;
}
.searchform {
	border:1px solid #666;
	overflow:hidden;
	width:auto;
	margin:0 25px;
}
.searchform input#s {
	float:left;
	width:100%;
	margin-right:-25px;
	height:23px;
	border:0;
	background:none;
	padding-left:5px;
	padding-right:25px;
	margin-top:1px;
}
#searchsubmit {
	float:right;
	background:url(images/search.png) no-repeat 0 3px;
	width:22px;
	height:25px;
	cursor:pointer;
	border:0;
	text-indent:99999px;
}
.widget {
	color:#999;
	font-size:12px;
}
.widget select {
	width:100%;
	height:24px;
}
.widget a {
	color:#ccc;
}

.widget li {
	list-style:none;
}
.widget-title {
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
}
.widget #wp-calendar td,.widget #wp-calendar th {
	text-align:center;
}
.widget #wp-calendar #today {
	background:#996633;
}
/* * 2.3 archive */ 
.archive-header {
	margin-bottom:50px;
}
.archive-title {
	font-size:16px;
	font-weight:normal;
}
/* * 2.4 entry */
.post-entry {
	width:620px;
	margin-top:36px;
	overflow:hidden;
}
.post-entry:hover {
	background-color:#666;
}
.entry-main {
	width:520px;
	float:left;
	background-color:#fff;
	padding:0 10px;
}
.page .entry-main {
	width:100%;
}
.entry-header {
	margin:0;
	padding:0;
}
.entry-title {
	font-family:'Yanone Kaffeesatz',sans-serif;
	font-size:36px;
	font-weight:400;
	text-transform:uppercase;
	color:#666;
	margin-top:10px;
}
.entry-title a {
	color:#666;
}

.entry-meta {
	color:#999;
	text-transform:uppercase;
	margin-bottom:10px;
}
.entry-meta a {
	color:#999;
	font-style:italic;
}
.entry-meta a {
	color:#999;
	font-style:italic;
}
.entry-meta a:hover {
	font-weight:bold;
}
.entry-date-sub {
	display:none;
}
.entry-category,.entry-author,.entry-comments {
	margin-right:10px;
}
.entry-aside {
	width:90px;
	float:left;
	margin-top:50px;
	margin-left:10px;
}
.entry-date {
	text-align:center;
	width:80px;
	height:60px;
	background-color:#666;
	font-size:18px;
}
.entry-date a {
	color:#ccc;
	font-style:normal;
}
.entry-tags li {
	list-style:none;
	padding:0;
}
.entry-footer {
	float:right;
}
/* * 2.5 page */
.paging-navigation {
	clear:both;
	text-align:center;
	margin-top:100px;
}
.loop-pagination a {
	color:#999;
}
.loop-pagination a:hover {
	font-weight:bold;
}
.page-numbers {
	margin-right:10px;
}
div.page_navi a,div.page_navi span {
	padding-left:10px;
	padding-right:10px;
	height:25px;
	line-height:25px;
	display:inline-block;
	text-align:center;
	border-color:inherit;
	/*background:#CCCCCC;
	*/	margin-right:5px;
	color:#999!important;
	font-size:15px;
	border-radius:5px;
}
div.page_navi a {
	color:#666;
	/*background-color:#999;
	*/
}

div.page_navi a,div.pagination span {
	padding-left:10px;
	padding-right:10px;
	height:25px;
	line-height:25px;
	display:inline-block;
	text-align:center;
	color:inherit;
	font-size:15px;
}
/* * 2.6 footer */
.site-footer {
	clear:both;
	height:44px;
	position:absolute;
	width:620px;
	text-align:right;
	z-index:3;
	bottom:10px;
	right:10px;
}
.site-footer a {
	color:#999;
}


/* * 2.7 comments */
#comment-textarea {
	margin-bottom:24px;
}
#comment-textarea textarea {
	height:150px;
}
.comments-area {
	border-top:1px #ccc dotted;
	margin-top:50px;
	width:100%;
	padding:10px;
}
.comments-area .commentlist > li,.comments-area .children li {
	height:auto;
	list-style:none;
}
.comments-area h2 {
	font-family:'Yanone Kaffeesatz',sans-serif;
	font-size:24px;
	font-weight:400;
	text-transform:uppercase;
	color:#666;
	margin-top:10px;
}
.comment-body {
	margin-top:10px;
}
.comment-avatar {
	float:left;
	height:45px;
}
.comment-info {
	/*float:left;
	font-size:16px;
	*/	margin-left:10px;
	margin-top:10px;
	/*font-weight:bold;
	*/
}
.comment-content {
	clear:both;
}
.comments-list li {
	list-style-type:none;
}
.comment-respond {
	border-top:1px #ccc dotted;
}
.comment-respond input,textarea {
	border:1px solid #999;
	width:100%;
}
.comment-respond input[type="submit"] {
	border:1px solid #999;
	width:100%;
	background-color:#333;
	color:#CCC;
	height:30px;
}
.comment-wrapper h3 {
	font-family:'Yanone Kaffeesatz',sans-serif;
}
.comment-wrapper h3#comments {
	adding:8px 0px 10px 0;
	border-bottom:1px solid #c7c7c7;
	margin:30px 0px 15px 0px;
	padding-bottom:10px;
}
.comment-wrapper .upcomment {
	margin-bottom:10px;
}
div.children {
	margin-top:10px;
}
#thecomments li.comment {
	clear:both;
	zoom:1;
}
.comment .children li.comment {
	margin-left:58px;
	border-top:1px dashed #aaa;
	margin-top:10px;
	padding-top:20px;
}
.comment.depth-2 .children li.comment {
	margin-left:42px;
}
.comment .comment-avatar {
	float:left;
	height:48px;
	width:48px;
	margin-right:10px;
}
.comment .comment-meta {
	font-size:13px;
	color:#bbb;
}
/*.comment .comment-author a {
	color:#0063DC;
}
*/
.comment .comment-author .commentmetadata a {
	color:#666!important;
}
.comment.depth-1 {
	margin-bottom:35px;
}
.comment.depth-2 .comment-avatar,.comment.depth-2 .comment-avatar img {
	height:38px;
	width:38px;
	margin-right:10px;
}
.comment.depth-1 .comment-info {
	margin-left:58px;
}
.comment.depth-2 .comment-info {
	margin-left:42px;
}
.comment .reply-quote {
	float:right;
	filter:alpha(opacity=0);
	height:20px;
}
.comment .reply-quote a {
	background:url(images/reply.png) no-repeat;
	text-indent:-9999px;
	display:inline-block;
	float:left;
	width:20px;
	height:20px;
	margin-right:10px;
	outline:none;
}
#respond h3 {
	border-bottom:1px dashed #AAAAAA;
	margin-bottom:15px;
	padding-bottom:5px;
}
.comment_text img {
	max-width:100%;
}
#welcome {
	height:50px;
}
.comment_text .fn {
	text-align:right;
	color:#aaa;
}
#commentnavi {
	height:30px;
	line-height:20px;
}
.navigation a,.navigation .page-numbers {
	display:inline-block;
	zoom:1;
	padding:0 4px;
	border:1px solid #eee;
}
.page-numbers.current {
	font-weight:bold;
	color:red;
}
.navigation a:hover {
	background:#000;
	color:#fff;
}
.navigation .pages {
	padding:2px 0 2px 18px;
}
.comment_text p {
	margin:0px!important;
}
/* * 3.0 404 */
/* * 4.0 homepage */
.home-site {
	width:100%;
	overflow:hidden;
	position:relative;
}
/* * 4.1 home header */
.home-header {
	background:#000;
	min-height:80px;
	width:100%;
	/*top:0;
	*/	
	z-index:100;
	padding:0;
	margin:0;
}
.home-logo {
	float:left;
	margin-top:20px;
	margin-left:20px;
}
.home-navbar {
	float:right;
	margin-top:20px;
	margin-right:20px;
	width:50px;
	height:34px;
	display:none;
	background:url(images/navbar.png) no-repeat;
}
.home-navigation {
	float:right;
	height:100%;
	margin-left:40px;
	margin-right:20px;
}
.home-navigation ul {
	display:inline-block;
}
.home-navigation li {
	float:left;
	list-style-type:none;
}
.home-navigation > ul > li > a > span {
	padding:5px;
	border-radius:10px;
}

.home-navigation li a {
	/*color:#ddd;*/
	font-size:16px;
	text-transform:uppercase;
	display:block;
	padding:0 15px;
	line-height:80px;
}

.home-container {
	width:1120px;
	overflow:hidden;
	margin:0 auto;
	padding:50px 5%;
	text-align:center;
	font-size:16px;
	color:#666;
	z-index:98;
	max-width:100%;
	/* position: absolute;*/
}

/* * 4.2 home sections */
.home-wrapper ,.home-container{
	position:relative;
}
.section{
   position:relative!important;
 }
#tubular-container{
   position:absolute!important;
 }
.section,.section-banner,.section-about,.section-services,.section-portfolio,.section-contact,.section-custom {
	clear:both;
	width:100%;
	/*min-height:690px;
	overflow:hidden;
	*/
}
.section h1,.section-about h1,.section-services h1,.section-portfolio h1,.section-contact h1,.section-custom h1 {
	font-family:'Raleway',sans-serif;
	font-size:60px;
	color:#666;
	font-style:normal;
	font-weight:300;
	text-align:center;
	line-height:82px;
	margin-bottom:40px;
}
.section h3 {
	font-family:'Raleway',sans-serif;
	color:#666;
	font-size:36px;
	font-style:normal;
	font-weight:300;
	line-height:36px;
}
/* * 4.3 home section banner */
.section-banner {
	}
.banner-box {
	padding:30px 0;
}
.banner-box ul li{
	list-style:none;
	}
.section-banner h1 {
	font-family:'Lustria',serif;
	color:#FFF;
	font-weight:400;
	font-size:64px;
	text-transform:uppercase;
	line-height:82px;
	display:inline;
	text-align:center;
	text-transform:uppercase;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	margin-top:160px;
	word-wrap:break-word;
}
.section-banner span,
.section-banner .sub-title{
	margin-top:50px;
	font-family:'Lustria',serif;
	color:#FFF;
	font-size:18px;
	text-transform:uppercase;
	display: block;
}

.banner-scroll {
	margin-top:60px;
	margin-bottom:20px;
}
.banner-sns {
	overflow:hidden;
	margin:10px auto;
	text-align:center;
	display:inline-block;
}
.banner-sns li {
	float:left;
	list-style-type:none;
	margin-right:10px;
}
.banner-sns li:last-child {
	margin-right:0;
}
/* * 4.4 home section about */
.section-about {
	
}
.section-about h3 {
	text-align:left;
}
.section-about p {
	text-align:left;
}
.column-bio {
	width:64%;
	float:left;
	text-align:left;
	overflow:hidden;
	margin-right:6%;
}
.column-info {
	width:30%;
	float:left;
	text-align:left;
	overflow:hidden;
}
.section-about li {
	list-style-type:none;
	padding-left:30px;
	padding-top:5px;
	margin-bottom:5px;
	text-align:left;
}
/* Columns */
.full_width,.one_half,.one_third,.two_third,.one_fourth,.three_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth {
	float:left;
}
.clear_column {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
	overflow:hidden;
}
.full_width {
	width:100%;
}
.one_half {
	width:49%;
	margin-right:2%;
}
.one_half.last_column {
	width:49%;
	margin-right:0px;
}
.one_third {
	width:32%;
	margin-right:2%;
}
.one_third.last_column {
	width:32%;
	margin-right:0px;
}
.two_third {
	width:66%;
	margin-right:2%;
}
.two_third.last_column {
	width:66%;
	margin-right:0px;
}
.one_fourth {
	width:23.5%;
	margin-right:2%;
}
.one_fourth.last_column {
	width:23.5%;
	margin-right:0px;
}
.three_fourth {
	width:74.5%;
	margin-right:2%;
}
.three_fourth.last_column {
	width:74.5%;
	margin-right:0px;
}
.one_fifth {
	width:18.4%;
	margin-right:2%;
}
.one_fifth.last_column {
	width:18.4%;
	margin-right:0px;
}
.two_fifth {
	width:39%;
	margin-right:2%;
}
.two_fifth.last_column {
	width:39%;
	margin-right:0px;
}
.three_fifth {
	width:59%;
	margin-right:2%;
}
.three_fifth.last_column {
	width:59%;
	margin-right:0px;
}
.four_fifth {
	width:79.6%;
	margin-right:2%;
}
.four_fifth.last_column {
	width:79.6%;
	margin-right:0px;
}
.one_sixth {
	width:15%;
	margin-right:2%;
}
.one_sixth.last_column {
	width:15%;
	margin-right:0px;
}
.last {
	padding:0;
	margin-right:0 !important;
	clear:right;
}
.section-about li {
    padding-left: 0;
}

.section-about li:before {
    font: normal normal normal 14px/1 FontAwesome;
    width: 20px;
    text-align: center;
    color: rgba(100,100,100,.8);
    display: inline-block;
    margin-right: 5px;
}

li.info-phone:before {
    content: "\f095";
}

li.info-address:before {
    content: "\f041";
}

li.info-email:before {
    content: "\f003";
}

li.info-website:before {
    content: "\f109";
}

.wp-caption {
	}.wp-caption-text {
	}.sticky {
	}.gallery-caption {
	}.alignright {
	}.alignleft {
	}.aligncenter {
	}.bypostauthor > .comment-body .fn:before {
	vertical-align:text-top;
}
img.size-full,img.size-large,img.wp-post-image {
	max-width:100%;
	height:auto;
}
.bypostauthor > .comment-body .fn:before,.error404 .page-title:before {
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	font:normal 16px/1 Genericons;
	vertical-align:text-bottom;
}
/* * 4.5 home section services */
.section-services {
	background:url(images/back2.jpg) repeat center fixed;
}
.section-services h3 {
	font-family:'Raleway',sans-serif;
	color:#666;
	font-size:36px;
	font-style:normal;
	font-weight:300;
	line-height:36px;
}
.column-service {
	width:32%;
	margin-right:2%;
	float:left;
	overflow:hidden;
}
.column-service-last {
	margin-right:0;
}
/* * 4.6 home section portfolio */
.section-portfolio {
	
	overflow:hidden;
}
.portfolio-cat {
	margin-bottom:30px;
}
.portfolio-cat ul {
	overflow:hidden;
	display:inline-block;
}
.portfolio-cat li {
	float:left;
	list-style-type:none;
	border:1px solid #666;
	margin-right:10px;
}
.portfolio-cat li a {
	display:block;
	padding:5px;
	font-size:18px;
	color:#666;
	text-transform:uppercase;
}
.portfolio-cat li a:hover {
	background-color:#666;
	color:#fff;
}
.portfolio-list {
	margin:0 auto;
}
.portfolio-list ul {
	margin:0 auto;
	overflow:hidden;
	display:inline-block;
}
.portfolio-list li {
	float:left;
	list-style-type:none;
	width:23%;
	margin-left:0;
	margin-right:2.6%;
	margin-bottom:10px;
	overflow:hidden;
	padding:0 auto;
}
.portfolio-list li:nth-child(4n) {
	margin-right:0;
}
.port-img {
	max-width:100%;
	margin:0 auto;
}
/* * 4.7 home section contact */
.section-contact {
	background:url(images/back2.jpg) repeat center fixed;
}
.contact-text {
	font-family:'Raleway',sans-serif;
	width:80%;
	font-size:18px;
	text-transform:uppercase;
	margin:0 auto 50px;
	color:#ACACAC;
}
.contact-area {
	margin:0 auto;
	width: 100%;
    max-width: 500px;
	text-align:center;
	overflow:hidden;
}
.contact-form {
	margin:0 auto;
}
.contact-form input,.contact-form textarea {
	font-size:18px;
	width:100%;
	background-color:transparent;
	border:1px solid #666;
	padding:5px;
	overflow:hidden;
	margin-bottom:30px;
}
.contact-form [type="submit"] {
	width:100px;
}
.contact-form [type="submit"]:hover {
	width:100px;
	background-color:#666;
	color:#fff;
}
.contact-form input::-webkit-input-placeholder,.contact-form textarea::-webkit-input-placeholder {
	color:#666;
}
.contact-form input:-moz-placeholder,.contact-form textarea:-moz-placeholder {
	color:#666;
}
.noticefailed {
	color:#FF0000;
}
.noticesuccess {
	color:#009F00;
}
/* * 4.8 home section custom */
.section-custom {
	background:url(images/section-content-bg.jpg) repeat center;
}
/* * 4.9 home section footer */
.home-footer {
	clear:both;
	background:#000;
	width:100%;
	padding:10px 20px;
}
.home-footer a {
	color:#fff;
}

/**
 * 14.2 Galleries
 */

.gallery {
	margin-bottom: 1.6em;
}

.gallery-item {
	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
@media (max-width:640px) {
	.gallery-item {
		width: 100%!important;
		float:none !important;
		max-width: 100%!important;
	}
}


/* Page links */
.page-links {
	clear:both;
	font-size:16px;
	font-style:italic;
	font-weight:normal;
	line-height:2.2;
	margin:20px 0;
	text-transform:uppercase;
}
.page-links a,.page-links > span {
	background:#fff;
	border:1px solid #fff;
	padding:3px 8px;
	text-decoration:none;
	border:1px solid #999;
}
.format-status .entry-content .page-links a,.format-gallery .entry-content .page-links a,.format-chat .entry-content .page-links a,.format-quote .entry-content .page-links a,.page-links a {
	background:#999;
	border:1px solid #999;
	color:#fff;
}
.format-gallery .entry-content .page-links a:hover,.format-audio .entry-content .page-links a:hover,.format-status .entry-content .page-links a:hover,.format-video .entry-content .page-links a:hover,.format-chat .entry-content .page-links a:hover,.format-quote .entry-content .page-links a:hover,.page-links a:hover {
	background:#fff;
	color:#999;
}
.format-status .entry-content .page-links > span,.format-quote .entry-content .page-links > span {
	background:none;
}
.page-links .page-links-title {
	background:transparent;
	border:none;
	margin-right:20px;
	padding:0;
}
/* =Font Awesome--------------------------------------------------------------*/
.banner-sns li a i{
  color:#fff;
  }
i.fa-2 {
    font-size: 2em;
}
i.fa-3 {
    font-size: 4em;
}
i.fa-4 {
    font-size: 7em;
}
i.fa-5 {
    font-size: 12em;
}
i.fa-6 {
    font-size: 20em;
}

/** background video**/

#video-controls {
    width: 333px;
}
#video-controls i.fa{
	font-size:20px;
	vertical-align: middle;
	}
#video-controls i.fa-volume-up {
	font-size:22px;
	}
#video-controls i.fa-volume-off {
	font-size:25px;
	}
.black-65 {
    color: #FFFFFF;
    margin: 24px 0;
    padding: 4px 12px;
	left: 20px;
	bottom: 0;
	position: absolute;
	z-index:999;
}
/* =Responsive-------------------------------------------------------------- *//* Maximum width of 600 pixels. */
@media screen and (max-width:600px) {
	.full_width,.one_half,.one_third,.two_third,.one_fourth,.three_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth {
	clear:both;
	width:100%;
	margin-left:0;
	margin-right:0;
	margin-bottom:1em;
}
.banner-box {
	padding:5px 0;
}
.banner-scroll {
	margin-top:10px;
	margin-bottom:20px;
}
}
/* * 5.0 media */
@media screen and (max-width:919px) {
	.site {
	background:none;
}
.site-main {
	margin-left:0;
}
.site-logo {
	margin-left:30px;
}
.home-container {
	width:100%;
}
.home-navigation ul {
	/*display:none;*/
}
.top-nav{
	display:none;
	}
.home-navbar {
	display:block;
}
.column-bio {
	width:100%;
	margin-right:0;
	margin-bottom:5px;
}
.column-info {
	width:100%;
}
.column-service {
	width:100%;
	float:none;
	margin-bottom:20px;
}
.portfolio-list {
	width:720px;
}
.portfolio-list li {
	width:40%;
	margin-right:9%;
	margin-bottom:40px;
}
.banner-box {
	padding:20px 0;
}
.banner-scroll {
	margin-top:20px;
	margin-bottom:10px;
}
.banner-box h1{
font-size:36px;
}
}
@media screen and (max-width:919px) {
	.site-header {
	background-color:#000;
	top:0;
}
.site-main {
	width:100%;
}
.main-content {
	float:none;
	width:100%;
	margin-top:20px;
}
.sidebar {
	width:100%;
	overflow:visible;
	padding-left:50px;
}
.widget-area {
	margin-top:40px;
}
.widget {
	font-size:16px;
}
.widget-title {
	font-size:20px;
}
.searchform input#s {
	height:29px;
}
#searchsubmit {
	margin-top:2px;
}
.site-navigation {
	margin-top:30px;
	margin-right:30px;
}
.site-navigation a {
	background-color:#000;
}
.post-entry {
	margin-left:auto;
	margin-right:auto;
}
.contact-area {
	width:70%;
	text-align:center;
	overflow:hidden;
}

.banner-box {
	padding:10px 0;
}
.banner-scroll {
	margin-top:15px;
	margin-bottom:10px;
}
.home-navigation li a{
	line-height:30px;
	}
}
@media screen and (max-width:719px) {
	.site-main {
	background-color:#000;
	background-image:none;
}
.main-content {
	padding-bottom:40px;
}
.site-navbar {
	display:block;
}
.site-navigation {
	display:none;
}
.post-entry {
	width:520px;
}
.post-entry:hover {
	background-color:transparent;
}
.entry-aside {
	display:none;
}
.entry-date-sub {
	display:inline;
	margin-right:10px;
}
.entry-category {
	display:none;
}
.entry-author {
	display:none;
}
.paging-navigation {
	margin-top:40px;
}
.portfolio-list {
	width:100%;
}
.portfolio-list li {
	width:100%;
	margin-right:0;
}
.contact-area {
	width:80%;
	text-align:center;
	overflow:hidden;
}
.banner-box {
	padding:5px 0;
}
.banner-scroll {
	margin-top:15px;
	margin-bottom:10px;
}
.banner-box h1{
font-size:18px;
}
.banner-box span,
.banner-box .sub-title{
font-size:14px;
}

}
@media screen and (max-width:619px) {
	.main-content {
	padding-left:10px;
	padding-right:10px;
}
.post-entry,.entry-main {
	width:auto;
}
.post-entry img {
	width:100%;
}
.site-footer {
	height:auto;
	width:auto;
	overflow:hidden;
	font-size:12px;
}
.contact-area {
	width:100%;
	text-align:center;
	overflow:hidden;
}
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    float: left;
}
.col-xs-1 {
    width: 8.33333%;
}
.col-xs-2 {
    width: 16.6667%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.3333%;
}
.col-xs-5 {
    width: 41.6667%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
    width: 58.3333%;
}
.col-xs-8 {
    width: 66.6667%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.3333%;
}
.col-xs-11 {
    width: 91.6667%;
}
.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px) {
.container {
    max-width: 100%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
}
.col-sm-1 {
    width: 8.33333%;
}
.col-sm-2 {
    width: 16.6667%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.3333%;
}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58.3333%;
}
.col-sm-8 {
    width: 66.6667%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83.3333%;
}
.col-sm-11 {
    width: 91.6667%;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-push-1 {
    left: 8.33333%;
}
.col-sm-push-2 {
    left: 16.6667%;
}
.col-sm-push-3 {
    left: 25%;
}
.col-sm-push-4 {
    left: 33.3333%;
}
.col-sm-push-5 {
    left: 41.6667%;
}
.col-sm-push-6 {
    left: 50%;
}
.col-sm-push-7 {
    left: 58.3333%;
}
.col-sm-push-8 {
    left: 66.6667%;
}
.col-sm-push-9 {
    left: 75%;
}
.col-sm-push-10 {
    left: 83.3333%;
}
.col-sm-push-11 {
    left: 91.6667%;
}
.col-sm-pull-1 {
    right: 8.33333%;
}
.col-sm-pull-2 {
    right: 16.6667%;
}
.col-sm-pull-3 {
    right: 25%;
}
.col-sm-pull-4 {
    right: 33.3333%;
}
.col-sm-pull-5 {
    right: 41.6667%;
}
.col-sm-pull-6 {
    right: 50%;
}
.col-sm-pull-7 {
    right: 58.3333%;
}
.col-sm-pull-8 {
    right: 66.6667%;
}
.col-sm-pull-9 {
    right: 75%;
}
.col-sm-pull-10 {
    right: 83.3333%;
}
.col-sm-pull-11 {
    right: 91.6667%;
}
.col-sm-offset-1 {
    margin-left: 8.33333%;
}
.col-sm-offset-2 {
    margin-left: 16.6667%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-offset-4 {
    margin-left: 33.3333%;
}
.col-sm-offset-5 {
    margin-left: 41.6667%;
}
.col-sm-offset-6 {
    margin-left: 50%;
}
.col-sm-offset-7 {
    margin-left: 58.3333%;
}
.col-sm-offset-8 {
    margin-left: 66.6667%;
}
.col-sm-offset-9 {
    margin-left: 75%;
}
.col-sm-offset-10 {
    margin-left: 83.3333%;
}
.col-sm-offset-11 {
    margin-left: 91.6667%;
}
}
@media (min-width: 992px) {
.container {
    max-width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}
.col-md-1 {
    width: 8.33333%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-6 {
    width: 50%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-12 {
    width: 100%;
}
.col-md-push-0 {
    left: auto;
}
.col-md-push-1 {
    left: 8.33333%;
}
.col-md-push-2 {

    left: 16.6667%;
}
.col-md-push-3 {
    left: 25%;
}
.col-md-push-4 {
    left: 33.3333%;
}
.col-md-push-5 {
    left: 41.6667%;
}
.col-md-push-6 {
    left: 50%;
}
.col-md-push-7 {
    left: 58.3333%;
}
.col-md-push-8 {
    left: 66.6667%;
}
.col-md-push-9 {
    left: 75%;
}
.col-md-push-10 {
    left: 83.3333%;
}
.col-md-push-11 {
    left: 91.6667%;
}
.col-md-pull-0 {
    right: auto;
}
.col-md-pull-1 {
    right: 8.33333%;
}
.col-md-pull-2 {
    right: 16.6667%;
}
.col-md-pull-3 {
    right: 25%;
}
.col-md-pull-4 {
    right: 33.3333%;
}
.col-md-pull-5 {
    right: 41.6667%;
}
.col-md-pull-6 {
    right: 50%;
}
.col-md-pull-7 {
    right: 58.3333%;
}
.col-md-pull-8 {
    right: 66.6667%;
}
.col-md-pull-9 {
    right: 75%;
}
.col-md-pull-10 {
    right: 83.3333%;
}
.col-md-pull-11 {
    right: 91.6667%;
}
.col-md-offset-0 {
    margin-left: 0;
}
.col-md-offset-1 {
    margin-left: 8.33333%;
}
.col-md-offset-2 {
    margin-left: 16.6667%;
}
.col-md-offset-3 {
    margin-left: 25%;
}
.col-md-offset-4 {
    margin-left: 33.3333%;
}
.col-md-offset-5 {
    margin-left: 41.6667%;
}
.col-md-offset-6 {
    margin-left: 50%;
}
.col-md-offset-7 {
    margin-left: 58.3333%;
}
.col-md-offset-8 {
    margin-left: 66.6667%;
}
.col-md-offset-9 {
    margin-left: 75%;
}
.col-md-offset-10 {
    margin-left: 83.3333%;
}
.col-md-offset-11 {
    margin-left: 91.6667%;
}
}
@media (min-width: 1200px) {
.container {
    max-width: 100%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: left;
}
.col-lg-1 {
    width: 8.33333%;
}
.col-lg-2 {
    width: 16.6667%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-4 {
    width: 33.3333%;
}
.col-lg-5 {
    width: 41.6667%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-7 {
    width: 58.3333%;
}
.col-lg-8 {
    width: 66.6667%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-10 {
    width: 83.3333%;
}
.col-lg-11 {
    width: 91.6667%;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-push-0 {
    left: auto;
}
.col-lg-push-1 {
    left: 8.33333%;
}
.col-lg-push-2 {
    left: 16.6667%;
}
.col-lg-push-3 {
    left: 25%;
}
.col-lg-push-4 {
    left: 33.3333%;
}
.col-lg-push-5 {
    left: 41.6667%;
}
.col-lg-push-6 {
    left: 50%;
}
.col-lg-push-7 {
    left: 58.3333%;
}
.col-lg-push-8 {
    left: 66.6667%;
}
.col-lg-push-9 {
    left: 75%;
}
.col-lg-push-10 {
    left: 83.3333%;
}
.col-lg-push-11 {
    left: 91.6667%;
}
.col-lg-pull-0 {
    right: auto;
}
.col-lg-pull-1 {
    right: 8.33333%;
}
.col-lg-pull-2 {
    right: 16.6667%;
}
.col-lg-pull-3 {
    right: 25%;
}
.col-lg-pull-4 {
    right: 33.3333%;
}
.col-lg-pull-5 {
    right: 41.6667%;
}
.col-lg-pull-6 {
    right: 50%;
}
.col-lg-pull-7 {
    right: 58.3333%;
}
.col-lg-pull-8 {
    right: 66.6667%;
}
.col-lg-pull-9 {
    right: 75%;
}
.col-lg-pull-10 {
    right: 83.3333%;
}
.col-lg-pull-11 {
    right: 91.6667%;
}
.col-lg-offset-0 {
    margin-left: 0;
}
.col-lg-offset-1 {
    margin-left: 8.33333%;
}
.col-lg-offset-2 {
    margin-left: 16.6667%;
}
.col-lg-offset-3 {
    margin-left: 25%;
}
.col-lg-offset-4 {
    margin-left: 33.3333%;
}
.col-lg-offset-5 {
    margin-left: 41.6667%;
}
.col-lg-offset-6 {
    margin-left: 50%;
}
.col-lg-offset-7 {
    margin-left: 58.3333%;
}
.col-lg-offset-8 {
    margin-left: 66.6667%;
}
.col-lg-offset-9 {
    margin-left: 75%;
}
.col-lg-offset-10 {
    margin-left: 83.3333%;
}
.col-lg-offset-11 {
    margin-left: 91.6667%;
}
.widget.widget_recent_entries li{
margin-top:15px;
line-height:14px;
}
}

/** slider**/

	section.homepage-slider .inner {
		padding: 100px 50px 10px;
		width:100%;
		position:absolute;
	    top:0;
	    text-align:center;
	    margin:auto;
		color:#fff;
	}

	section.homepage-slider h1, section.homepage-slider h2 {
		font-size: 40px;
		line-height: 52px;
		color: #fff;
	}

	section.homepage-slider .btn {
		display: inline-block;
		margin: 25px 0 0;
		padding: 9px 22px 7px;
		clear: both;

		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		border: 2px solid rgba(255,255,255,.4);
		border-radius: 5px;
	}
		section.homepage-slider .btn:hover {
			background: rgba(255,255,255,.05);
		}
		section.homepage-slider .btn:active {
			-webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		}

	section.homepage-slider .btn, section.homepage-slider .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

		
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {

	section.homepage-slider h1, section.homepage-slider h2 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom:20px;
	}
	section.homepage-slider .inner {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	section.homepage-slider p {
		font-size: 15px;
		width: 80%;
		margin: 0 auto;
	}
	.owl-controls{
	display:none !important;
	}
}

/*
 *  Back to Top
 */ 
#back-to-top {
	position:fixed;
	right:10px;
	bottom:10px;
	background:rgba(255,255,255,0.2);
	font-size:10px;
	padding:5px;
	border-radius:5px;
	display:none;
	z-index:999;
}