/**********************************
* Defines styles for upsell page 
**********************************/
.theme-container {
    width:31%;
    float:left;
    display: inline-block;
    background: #fff;
    border: 1px solid #dedede;
    margin: 1%;
    padding-bottom: 12px;
}
.theme-container .button-primary {
    margin: 2px;
}
.theme-container .button-secondary {
    margin: 2px;
}
.theme-container .theme-screenshot {
    width:100%;
    border-bottom: 4px solid #f6f6f6;
}
.theme-container .theme-description {
    margin: 0px;
    padding: 15px;
    color: #888;
    border-bottom: 1px solid #dedede;
}
.theme-container .theme-details {
    padding: 15px;
    line-height: 28px;
}
.theme-container .theme-name {
    font-weight: bold;
    font-size: 1.1em;
}
.theme-container .theme-details.active .theme-status {
    color: #0074a2;
}
.theme-container .theme-details .theme-status {
    color: #27ae60;
}
.theme-container .theme-buttons {
    display: inline-block;
    float: right;
}
#upsell_themes .upsell-logo{
    text-align: center;
    color: #888!important;
}
#upsell_themes .upsell-logo h2{
    color: #666!important;
}
/* Responsive css */
@media only screen and (max-width: 959px) {
.theme-container {
        width:46%;
    }
}
@media only screen and (max-width: 590px) {
.theme-container {
    width:95%;
    }
.theme-details {
    padding: 15px;
    line-height: 36px;
    }
}